@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --pink:#e14177;
    --blue:#01427a;
    --light-blue:#01b3ef;
    --border:.1rem solid rgba(102, 96, 96, 0.3);
    --box-shadow:2px 4px 6px rgba(204, 198, 198, 0.5);
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

section{
    padding: 2rem 7%;
}

.btn1{
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: var(--pink);
    cursor:pointer;
    border: 0.1rem solid var(--pink);
}
.btn2{
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color:var(--pink);
    background: #fff;
    cursor:pointer;
    border: 0.1rem solid var(--pink);
}

/* -- header section -- */
header{
    background: #fff;
    display: flex;
    padding:1.5rem 7%;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}

header .logo{
    color: var(--light-blue);
    font-size: 2rem;
    font-weight: 700;
}

header .search-form{
    border: 0.1rem solid var(--blue);
    padding: 1rem;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 6rem;
}

header .search-form label{
    cursor: pointer;
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color:var(--blue);
}

header .search-form input{
    height: 100%;
    width:100%;
    font-size:1.6rem;
    color:var(--blue);
    padding:1rem;
    text-transform: none;
}
header .search-form label:hover{
    color:var(--light-blue);
}

header .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
header .course{
    font-size: 1.7rem;
    text-transform: none;
    color: var(--blue);
}

header .fa-shopping-cart{
    font-size: 1.7rem;
    color: var(--blue);
    margin: 0 2rem 0;
    cursor: pointer;
}

/*home section*/
.home{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home .content{
    flex: 1 1 45rem;
    max-width:60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--blue);
}

.home .content p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8;
    padding: 1rem 0;
    color:var(--blue);
}

.home .img{
    flex:1 1 45rem;
}

.home .img img{
    width: 100%;
}

/* courses section*/
.course h1{
    color: var(--blue);
    font-size: 3.5rem;
}

.course .course-para{
    color: var(--blue);
    font-size: 1.7rem;
    margin: 1rem 0rem 4rem;
}
.course .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.course .box-container .box{
    padding:3rem;
    text-align:center;
    border: 0.1rem solid var(--blue);
}
.course .box-container .box h3{
    color: var(--blue);
    font-size: 2rem;
    padding: 1rem 0;
}

.course .box-container .box p{
    color: var(--blue);
    font-size: 1.5rem;
    margin: 0rem 0rem 2rem;
}

.course .box-container .box img{
    width: 100%;
}
.course .box-container .box .time-duration{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .box-container .box .course-type{
    color: var(--blue);
    font-size: 1.5rem;
    margin: 0rem 0rem 2rem;
    text-align: left;
}

/*testimonial section*/
.review h2{
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem;
    color: var(--blue);
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.review .box-container .box{
    border: 0.1rem solid #000;
    padding: 3rem;
}
.review .box-container .box p{
    color: var(--blue);
    font-size: 1.5rem;
    text-align: center;
    font-style: italic
}
.review .box-container .box .detail .image{
    width: 8rem;
}
.review .box-container .box .detail .person-detail{
    font-size: 1.7rem;
}
.review .box-container .box .detail{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.review .box-container .box .detail .image img{
    width: 100%;
}

/*contact section*/

.contact h1{
    font-size: 3.5rem;
    text-align: center;
    margin: 3rem;
    color: var(--blue);
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width:100%;
    object-fit:cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:var(--blue);
 }

 .contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top:2rem;
    margin-bottom: 2rem;
    
    border:0.1rem solid var(--blue);
}

.contact .row form .inputBox span{
    color:var(--blue);
    font-size:2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width:100%;
    padding:2rem;
    font-size: 1.7rem;
    color:var(--blue);
    text-transform: none;
    background: none;
}